@model IEnumerable<TorneioLutas.Models.Torneio.LutadorModel>
@{
    /**/

    Layout = "../Shared/_Layout.cshtml";

}

<section class="content">
    <div class="title">
        <h2 class="container">
            <span class="row">
                <span class="col-6">Torneio de Luta</span>
            </span>
        </h2>
    </div>

    <main class="container">

        @*<button class="btn btn-success mt-3 mb-5" id="button_torneio">Inicio do Torneio</button>*@
        <div class="my-4">
            <button class="btn btn-primary" type="submit" @*onclick="Torneio()"*@>Inicio do Torneio</button>
        </div>
        @if (TempData.Keys.Contains("Message"))
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }


        @if (@Model != null)
        {

            <br />
            <div id="checkcount"></div>
            <br />
            <main id="principal">
            <ul class="list-group">


                @foreach (var item in Model)
                {
                    <li class="list-group-item active">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><input type="checkbox"></div>
                                <div class="input-group-text">@Html.DisplayFor(modelItem => item.Nome, new { htmlAttributes = new { @class = "bt_item" } })</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <label class="control-label">Idade:</label>
                        @Html.DisplayFor(modelItem => item.Idade, new { htmlAttributes = new { @class = "bt_item" } })

                        <label class="control-label">Lutas:</label>
                        @Html.DisplayFor(modelItem => item.Lutas, new { htmlAttributes = new { @class = "bt_item" } })

                        <label class="control-label">Derrotas:</label>
                        @Html.DisplayFor(modelItem => item.Derrotas, new { htmlAttributes = new { @class = "bt_item" } })

                        <label class="control-label">Vitórias:</label>
                        @Html.DisplayFor(modelItem => item.Vitorias, new { htmlAttributes = new { @class = "bt_item" } })

                        <label class="control-label">Artes Marciais:</label>
                        @Html.DisplayFor(modelItem => item.ArtesMarciais.Count, new { htmlAttributes = new { @class = "bt_item" } })
                    </li>


                }
            </ul>
            </main>
        }
    </div>
</section>


@*//jquery - Contador de lutadores selecionados*@
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    var Torneio = function () {
        var arrItem = [];
        var commaSeparatedIds = "";

        $("#ItemList li input[type=chechbox]").each(function (index, val) {


            debugger
            var checkId = $(val).attr("Id");
            var arr = checkId.split('_');
            var currentCheckboxId = arr[1];

        })

    };

    //Contador de lutadores selecionados
    var contador = function () {
        var n = $("input:checked").length;
        $("#checkcount").text(n + (n === 1 ? " Lutador é" : " Lutadores são") + " selecionado(s)");
    };
    contador();
    $("input[type=checkbox]").on("click", contador);

</script>

